@using WebAPP.Models.Sınıflar
@model List<Blog>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Partial4</title>
</head>
<body>
    <div>

        <div class="padding1">
            <h4>En Sevdiğim Yerler</h4>
            <div class="box-left">
                @foreach (var x in Model)
                {
                    <div class="bot-img">
                        <img src="@x.BlogImage" alt="" />
                    </div>
                    <div class="bot-desc">
                        <p>@x.Aciklama.Substring(0, 20)...</p>
                    </div>
                    <div class="clear"></div>
                }

            </div>
            
        </div>
      


    </div>
</body>
</html>
